<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GalleryUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <GalleryUploader.Properties.Settings>
      <setting name="XmlFileName" serializeAs="String">
        <value>pictureList.xml</value>
      </setting>
      <setting name="ThumbsDirectoryName" serializeAs="String">
        <value>thumbs</value>
      </setting>
      <setting name="PicturesDirectoryName" serializeAs="String">
        <value>fotos</value>
      </setting>
      <setting name="XmlDirectoryName" serializeAs="String">
        <value>xml</value>
      </setting>
      <setting name="FtpUserName" serializeAs="String">
        <value>fotogiesels.be</value>
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value>GIE6651</value>
      </setting>
      <setting name="FtpUrl" serializeAs="String">
        <value>ftp://fotogiesels.be</value>
      </setting>
      <setting name="IntroPictureGalleryName" serializeAs="String">
        <value>intro</value>
      </setting>
      <setting name="IntroPictureFileName" serializeAs="String">
        <value>introPic.jpg</value>
      </setting>
      <setting name="WebsiteSubfolderName" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="DefaultStartupDirectory" serializeAs="String">
        <value>H:\Website</value>
      </setting>
    </GalleryUploader.Properties.Settings>
  </userSettings>
</configuration>